<h3>Stores within 25 miles of <%= @zipcode %></h3>

<h4><%= @all_stores.count %> Total Stores</h4>

<table class="table">
  <th>Number</th>
  <th>Long Name</th>
  <th>City</th>
  <th>Distance</th>
  <th>Phone Number</th>
  <th>Store Type</th>
  
</table>